.tags {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    width: 76px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.tag__low {
    background: #BBE1FA;
    color: #0F4C75;
}

.tag__med {
    background-color: #FFE565;
    color: #DE6F00;
}

.tag__high {
    background-color: #FF8686;
    color: #760031;
}

.tag__schedule {
    color: #112D4E
}

.tag__pending-estimates {
    color: #543310;
}

.tag__in-progress {
    color: #52057B;
}

.tag__awaiting-parts {
    color: #FF9A00;
}

.tag__completed {
    color: #08A600;
}